# Py-Spark

In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Wordcount").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 08:08:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
text_file = spark.sparkContext.textFile('/home/labuser/Desktop/sushant/sushant.txt')

In [5]:
words = text_file.flatMap(lambda line : line.split(" "))

word_counts = words.map(lambda word: (word,1))

word_count = word_counts.reduceByKey(lambda a,b : a+b)

result = word_count.collect()

In [6]:
print(result)

[('data', 1), ('engineer', 1)]

In [7]:
sc = spark.sparkContext

In [8]:
rdd = sc.parallelize([1,2,3,4,5])

In [9]:
rdd.collect()

[1, 2, 3, 4, 5]

In [10]:
rdd.map(lambda x:x*2).collect()

[2, 4, 6, 8, 10]

In [11]:
df = spark.createDataFrame([(1,2,3),(1,3,4)],schema=['a','b','c'])

In [12]:
df.show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  2|  3|
|  1|  3|  4|
+---+---+---+

In [13]:
display(df)

DataFrame[a: bigint, b: bigint, c: bigint]

In [14]:
rdd1 = df.rdd

In [15]:
rdd2 = rdd1.collect()

In [16]:
rdd2[0]

Row(a=1, b=2, c=3)

In [17]:
rdd2[0].a

1

In [18]:
rdd1.count()

2

In [19]:
type(rdd1)

pyspark.rdd.RDD

In [20]:
df1 = rdd1.toDF()

In [21]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [22]:
rdd1.collect()

[Row(a=1, b=2, c=3), Row(a=1, b=3, c=4)]

In [23]:
rdd.flatMap(lambda x:(x,x+3)).collect()

[1, 4, 2, 5, 3, 6, 4, 7, 5, 8]

In [24]:
type(rdd)

pyspark.rdd.RDD

In [25]:
type(rdd1)

pyspark.rdd.RDD

In [26]:
rdd.collect()

[1, 2, 3, 4, 5]

In [27]:
rdd1.collect()

[Row(a=1, b=2, c=3), Row(a=1, b=3, c=4)]

In [28]:
rdd1.map(lambda x:x).collect()

[Row(a=1, b=2, c=3), Row(a=1, b=3, c=4)]

In [29]:
rdd.filter(lambda x:x%2==0).collect()

[2, 4]

In [30]:
rdd2 =  sc.parallelize([(1,2),(1,7),(2,7),(4,7)])
rdd2.reduceByKey(lambda x,y: x*y).collect()

[(2, 7), (4, 7), (1, 14)]

In [36]:
for i in rdd2.groupByKey().collect()[2][1]:
    print(i)

2
7

In [35]:
rdd2.groupByKey().collect()

[(2, <pyspark.resultiterable.ResultIterable at 0x7fb48454b250>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7fb4845491d0>),
 (1, <pyspark.resultiterable.ResultIterable at 0x7fb484552010>)]

In [37]:
rdd2.groupByKey().collect()

[(2, <pyspark.resultiterable.ResultIterable at 0x7fb484522190>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7fb484543a90>),
 (1, <pyspark.resultiterable.ResultIterable at 0x7fb484543f10>)]

In [38]:
for k,v in rdd2.groupByKey().collect():
    print(k,list(v))

2 [7]
4 [7]
1 [2, 7]

In [44]:
rdd3 = sc.parallelize(['a','b','c','a','a'])

rdd4 = rdd3.map(lambda x: (x,1))

In [45]:
rdd5 = rdd4.reduceByKey(lambda x,y:x+y)

In [46]:
rdd5.collect()

[('b', 1), ('c', 1), ('a', 3)]

In [50]:
for i,j in rdd5.collect():
    print(f"'{i}' occured {j} times")

'b' occured 1 times
'c' occured 1 times
'a' occured 3 times

In [51]:
rdd6 = rdd4.groupByKey()

In [52]:
for i,j in rdd6.collect():
    print(i,len(j))

b 1
c 1
a 3

In [53]:
rdd6 = sc.textFile("/home/labuser/Desktop/sushant/sale.csv")

In [54]:
rdd6.collect()

['name,price', 'sushant,100', 'sush,200']

In [55]:
rdd7 = sc.textFile("/home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv")

In [57]:
rdd7.collect()

[',apples,oranges', 'June,3,0', 'Robert,2,3', 'Lily,0,7', 'David,1,2']

In [64]:
rdd7 = spark.read.csv("/home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv",header=True,inferSchema=True)

In [65]:
rdd7.show()

+------+------+-------+
|   _c0|apples|oranges|
+------+------+-------+
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

23/09/21 08:57:14 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: _c0, apples, oranges
Expected: _c0 but found:
CSV file: file:///home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv

In [66]:
rdd7.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- apples: integer (nullable = true)
 |-- oranges: integer (nullable = true)

In [67]:
rdd8 = spark.read.option("inferSchema",True).option("header",True).csv("/home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv")

In [68]:
rdd8.show()

+------+------+-------+
|   _c0|apples|oranges|
+------+------+-------+
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

23/09/21 09:02:20 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: _c0, apples, oranges
Expected: _c0 but found:
CSV file: file:///home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv

In [69]:
rdd8.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- apples: integer (nullable = true)
 |-- oranges: integer (nullable = true)

In [71]:
rdd7 = spark.read.csv("/home/labuser/Desktop/sushant/Pandas_datasets/purchases.csv")
rdd7.show()

+------+------+-------+
|   _c0|   _c1|    _c2|
+------+------+-------+
|  null|apples|oranges|
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

In [72]:
rdd7.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [75]:
df = spark.read.csv("/home/labuser/Downloads/IMDB-Movie-Data.csv",inferSchema=True,header=True)

In [81]:
df.show(4)

+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|2016|              108|   7.2| 60545|            270.32|     59.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 4 rows

In [85]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType

udfschema = StructType([\
                       StructField('Rank',IntegerType(),True),\
                       StructField('Title',StringType(),True),\
                       StructField('Genre',StringType(),True)])

In [86]:
df = spark.read.csv("/home/labuser/Downloads/IMDB-Movie-Data.csv",schema=udfschema)

In [87]:
df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)

In [88]:
df.show()

+----+--------------------+--------------------+
|Rank|               Title|               Genre|
+----+--------------------+--------------------+
|null|               Title|               Genre|
|   1|Guardians of the ...|Action,Adventure,...|
|   2|          Prometheus|Adventure,Mystery...|
|   3|               Split|     Horror,Thriller|
|   4|                Sing|Animation,Comedy,...|
|   5|       Suicide Squad|Action,Adventure,...|
|   6|      The Great Wall|Action,Adventure,...|
|   7|          La La Land|  Comedy,Drama,Music|
|   8|            Mindhorn|              Comedy|
|   9|  The Lost City of Z|Action,Adventure,...|
|  10|          Passengers|Adventure,Drama,R...|
|  11|Fantastic Beasts ...|Adventure,Family,...|
|  12|      Hidden Figures|Biography,Drama,H...|
|  13|           Rogue One|Action,Adventure,...|
|  14|               Moana|Animation,Adventu...|
|  15|            Colossal| Action,Comedy,Drama|
|  16|The Secret Life o...|Animation,Adventu...|
|  17|       Hacksaw Ridge|Biography,Drama,H...|
|  18|        Jason Bourne|     Action,Thriller|
|  19|                Lion|     Biography,Drama|
+----+--------------------+--------------------+
only showing top 20 rows

In [92]:
df1 = spark.read.csv('/home/labuser/Downloads/IMDB-Movie-Data.csv',inferSchema=True,header=True)

In [93]:
df1.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Runtime (Minutes): string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Revenue (Millions): double (nullable = true)
 |-- Metascore: double (nullable = true)