In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
test_df = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]


ud_scehma = ["employee_name","department","state","salary","age","bonus"]

df = spark.createDataFrame(data=test_df,schema = ud_scehma)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 04:18:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [5]:
df.cache().show()

23/09/25 04:19:31 WARN CacheManager: Asked to cache already cached data.

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [14]:
from pyspark import StorageLevel

df.persist(StorageLevel.MEMORY_ONLY)

23/09/25 04:27:22 WARN CacheManager: Asked to cache already cached data.

DataFrame[employee_name: string, department: string, state: string, salary: bigint, age: bigint, bonus: bigint]

In [15]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [16]:
df.unpersist()

DataFrame[employee_name: string, department: string, state: string, salary: bigint, age: bigint, bonus: bigint]

In [19]:
from pyspark.sql.functions import *
df.cache().count()

9

In [20]:
import sys
print(sys.version)

3.11.4 (main, Jul  5 2023, 14:15:25) [GCC 11.2.0]

In [21]:
test = StorageLevel(useDisk=False,useMemory=True,useOffHeap=False,deserialized=False)

In [23]:
df.persist(storageLevel=test)

23/09/25 04:38:12 WARN CacheManager: Asked to cache already cached data.

DataFrame[employee_name: string, department: string, state: string, salary: bigint, age: bigint, bonus: bigint]

In [24]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [32]:
df.groupBy('department','state').agg(sum('salary').alias("sum")\
                             ,avg('salary').alias("avg"))\
.filter(col('avg')>90000).show()

+----------+-----+------+-------+
|department|state|   sum|    avg|
+----------+-----+------+-------+
|   Finance|   CA|189000|94500.0|
| Marketing|   NY| 91000|91000.0|
+----------+-----+------+-------+

In [29]:
df.createOrReplaceTempView('emp')

In [30]:
spark.sql('select * from emp').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [33]:
spark.sql('create database idashell')

DataFrame[]

In [34]:
spark.sql('use idashell')

DataFrame[]

In [45]:
df.write.saveAsTable('table01')

In [46]:
spark.sql('describe table01').show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|employee_name|   string|   null|
|   department|   string|   null|
|        state|   string|   null|
|       salary|   bigint|   null|
|          age|   bigint|   null|
|        bonus|   bigint|   null|
+-------------+---------+-------+

In [47]:
spark.sql('describe extended table01').show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|            idashell|       |
|               Table|             table01|       |
|        Created Time|Mon Sep 25 05:50:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/home/labuse...|       |
+--------------------+--------------------+-------+

In [39]:
df.write.option("path","/home/labuser/Documents/database").saveAsTable('table001')

In [40]:
spark.sql('describe extended table001').show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       employee_name|              string|   null|
|          department|              string|   null|
|               state|              string|   null|
|              salary|              bigint|   null|
|                 age|              bigint|   null|
|               bonus|              bigint|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|             Catalog|       spark_catalog|       |
|            Database|            idashell|       |
|               Table|            table001|       |
|        Created Time|Mon Sep 25 05:47:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.4.1|       |
|                Type|            EXTERNAL|       |
|            Provider|             parquet|       |
|            Location|file:///home/labu...|       |
+--------------------+--------------------+-------+

In [48]:
spark.sql('drop table idashell.table01')

DataFrame[]

In [49]:
spark.sql('drop table idashell.table001')

DataFrame[]

In [51]:
df.write.partitionBy("department").csv("/home/labuser/Documents/depfolder")

In [52]:
df.write.partitionBy("department",'state').csv("/home/labuser/Documents/depstate")

In [53]:
data = [
    '{"name":"sushant","age":23}',
    '{"name":"virat","age":30}'
]

In [54]:
from pyspark.sql.types import *

In [55]:
schema = StructType([\
                    StructField("name",StringType(),True),\
                    StructField("age",IntegerType(),True)])

In [57]:
df = spark.read.schema(schema).json(spark.sparkContext.parallelize(data))

In [58]:
json_data = [
    '{"name": "Alice", "age": 25, "address": {"city": "New York", "state": "NY"}}',
    '{"name": "Bob", "age": 30, "address": {"city": "San Francisco", "state": "CA"}}',
    '{"name": "Charlie", "age": 35, "address": {"city": "Los Angeles", "state": "CA"}}'
]

schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("address", StructType([
        StructField("city", StringType(), True),
        StructField("state", StringType(), True)
    ]), True)
])


df = spark.read.schema(schema).json(spark.sparkContext.parallelize(json_data))

In [59]:
df.show()

+-------+---+-------------------+
|   name|age|            address|
+-------+---+-------------------+
|  Alice| 25|     {New York, NY}|
|    Bob| 30|{San Francisco, CA}|
|Charlie| 35|  {Los Angeles, CA}|
+-------+---+-------------------+