In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("name01").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 07:58:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv("/home/labuser/Downloads/IMDB-Movie-Data.csv",inferSchema=True,header=True)

In [4]:
df.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     null|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [5]:
df.rdd.getNumPartitions()

1

In [6]:
df1= df.repartition(4)

In [7]:
df1.rdd.getNumPartitions()

4

In [8]:
df1.write.csv('/home/labuser/Desktop/sushant/ss')

In [9]:
df1.write.csv("/home/labuser/Desktop/sushant",'append')

In [10]:
sc = spark.sparkContext

In [11]:
print(sc.uiWebUrl)

http://ip-172-31-10-54.ap-south-1.compute.internal:4040

In [12]:
df.show(3)

+----+--------------------+--------------------+--------------------+------------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|          Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+------------------+--------------------+----+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|        James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|      Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|M. Night Shyamalan|James McAvoy, Any...|2016|              117|   7.3|157606|            138.12|     62.0|
+----+--------------------+--------------------+--------------------+------------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 3 rows

In [13]:
df.createOrReplaceTempView('movies')

In [14]:
spark.sql('select Title,year from movies where Year=2016').show()

+--------------------+----+
|               Title|year|
+--------------------+----+
|               Split|2016|
|                Sing|2016|
|       Suicide Squad|2016|
|      The Great Wall|2016|
|          La La Land|2016|
|  The Lost City of Z|2016|
|          Passengers|2016|
|Fantastic Beasts ...|2016|
|      Hidden Figures|2016|
|           Rogue One|2016|
|               Moana|2016|
|            Colossal|2016|
|The Secret Life o...|2016|
|       Hacksaw Ridge|2016|
|        Jason Bourne|2016|
|                Lion|2016|
|             Arrival|2016|
|                Gold|2016|
|Manchester by the...|2016|
|      Hounds of Love|2016|
+--------------------+----+
only showing top 20 rows

In [15]:
spark.sql('select year, Title from movies where Title like \'%a%\'').show()

+----+--------------------+
|year|               Title|
+----+--------------------+
|2014|Guardians of the ...|
|2016|       Suicide Squad|
|2016|      The Great Wall|
|2016|          La La Land|
|2016|          Passengers|
|2016|Fantastic Beasts ...|
|2016|               Moana|
|2016|            Colossal|
|2016|       Hacksaw Ridge|
|2016|        Jason Bourne|
|2016|             Arrival|
|2016|Manchester by the...|
|2016|Independence Day:...|
|2016|     Paris pieds nus|
|2015|Bahubali: The Beg...|
|2016|          Dead Awake|
|2016|            Bad Moms|
|2016|    Assassin's Creed|
|2016|   Nocturnal Animals|
|2016|   X-Men: Apocalypse|
+----+--------------------+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import col

df.sort(col('Title').desc()).show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|  75|            Zootopia|Animation,Adventu...|In a city of anth...|        Byron Howard|Ginnifer Goodwin,...|                2016|              108|   8.1|296853|            341.26|     78.0|
| 432|         Zoolander 2|              Comedy|Derek and Hansel ...|         Ben Stiller|Ben Stiller, Owen...|                2016|              102|   4.7| 48297|             28.84|     34.0|
| 364|          Zombieland|Adventure,Comedy,...|A shy student try...|     Ruben Fleischer|Jesse Eisenberg, ...|                2009|               88|   7.7|409403|             75.59|     73.0|
| 278|              Zodiac| Crime,Drama,History|In the late 1960s...|       David Fincher|Jake Gyllenhaal, ...|                2007|              157|   7.7|329683|             33.05|     78.0|
| 545|              Zipper|      Drama,Thriller|A successful fami...|       Mora Stephens|Patrick Wilson, L...|                2015|              103|   5.7|  4912|              null|     39.0|
| 407|    Zero Dark Thirty|Drama,History,Thr...|A chronicle of th...|     Kathryn Bigelow|Jessica Chastain,...|                2012|              157|   7.4|226661|             95.72|     95.0|
| 793|Zack and Miri Mak...|      Comedy,Romance|Lifelong platonic...|         Kevin Smith|Seth Rogen, Eliza...|                2008|              101|   6.6|154936|             31.45|     56.0|
| 504|               Youth|  Comedy,Drama,Music|A retired orchest...|    Paolo Sorrentino|Michael Caine, Ha...|                2015|              124|   7.3| 52636|               2.7|     64.0|
| 986|       Your Highness|Adventure,Comedy,...|When Prince Fabio...|  David Gordon Green|Danny McBride, Na...|                2011|              102|   5.6| 87904|             21.56|     31.0|
| 838|You Don't Mess wi...|       Action,Comedy|An Israeli Specia...|        Dennis Dugan|Adam Sandler, Joh...|                2008|              113|   5.5|163144|            100.02|     54.0|
| 801|         Yoga Hosers|Comedy,Fantasy,Ho...|Two teenage yoga ...|         Kevin Smith|Lily-Rose Depp, H...|                2016|               88|   4.3|  7091|              null|     23.0|
| 206|      X: First Class|Action,Adventure,...|In 1962, the Unit...|      Matthew Vaughn|James McAvoy, Mic...|                2011|              132|   7.8|550011|            146.41|     65.0|
| 627|X-Men: The Last S...|Action,Adventure,...|When a cure is fo...|        Brett Ratner|Patrick Stewart, ...|                2006|              104|   6.7|406540|            234.36|     58.0|
| 163|X-Men: Days of Fu...|Action,Adventure,...|The X-Men send Wo...|        Bryan Singer|Patrick Stewart, ...|                2014|              132|     8|552298|            233.91|     74.0|
|  33|   X-Men: Apocalypse|Action,Adventure,...|After the re-emer...|        Bryan Singer|James McAvoy, Mic...|                2016|              144|   7.1|275510|            155.33|     52.0|
| 269|X-Men Origins: Wo...|Action,Adventure,...|A look at Wolveri...|          Gavin Hood|Hugh Jackman, Lie...|                2009|              107|   6.7|388447|            179.88|     40.0|
| 969|             Wrecker|Action,Horror,Thr...|"Best friends Emi...|"" they become th...|      Micheal Bafaro|Anna Hutchison, A...|             2015|    83|   3.5|            1210.0|     null|
| 564|      Wreck-It Ralph|Animation,Adventu...|A video game vill...|          Rich Moore|John C. Reilly, J...|                2012|              101|   7.8|290559|            189.41|     72.0|
| 880| Wrath of the Titans|Action,Adventure,...|Perseus braves th...|  Jonathan Liebesman|Sam Worthington, ...|                2012|               99|   5.8|159230|             83.64|     37.0|
| 433|         World War Z|Action,Adventure,...|Former United Nat...|        Marc Forster|Brad Pitt, Mireil...|                2013|              116|     7|494819|            202.35|     63.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [17]:
df.orderBy(col('Title').desc()).show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|  75|            Zootopia|Animation,Adventu...|In a city of anth...|        Byron Howard|Ginnifer Goodwin,...|                2016|              108|   8.1|296853|            341.26|     78.0|
| 432|         Zoolander 2|              Comedy|Derek and Hansel ...|         Ben Stiller|Ben Stiller, Owen...|                2016|              102|   4.7| 48297|             28.84|     34.0|
| 364|          Zombieland|Adventure,Comedy,...|A shy student try...|     Ruben Fleischer|Jesse Eisenberg, ...|                2009|               88|   7.7|409403|             75.59|     73.0|
| 278|              Zodiac| Crime,Drama,History|In the late 1960s...|       David Fincher|Jake Gyllenhaal, ...|                2007|              157|   7.7|329683|             33.05|     78.0|
| 545|              Zipper|      Drama,Thriller|A successful fami...|       Mora Stephens|Patrick Wilson, L...|                2015|              103|   5.7|  4912|              null|     39.0|
| 407|    Zero Dark Thirty|Drama,History,Thr...|A chronicle of th...|     Kathryn Bigelow|Jessica Chastain,...|                2012|              157|   7.4|226661|             95.72|     95.0|
| 793|Zack and Miri Mak...|      Comedy,Romance|Lifelong platonic...|         Kevin Smith|Seth Rogen, Eliza...|                2008|              101|   6.6|154936|             31.45|     56.0|
| 504|               Youth|  Comedy,Drama,Music|A retired orchest...|    Paolo Sorrentino|Michael Caine, Ha...|                2015|              124|   7.3| 52636|               2.7|     64.0|
| 986|       Your Highness|Adventure,Comedy,...|When Prince Fabio...|  David Gordon Green|Danny McBride, Na...|                2011|              102|   5.6| 87904|             21.56|     31.0|
| 838|You Don't Mess wi...|       Action,Comedy|An Israeli Specia...|        Dennis Dugan|Adam Sandler, Joh...|                2008|              113|   5.5|163144|            100.02|     54.0|
| 801|         Yoga Hosers|Comedy,Fantasy,Ho...|Two teenage yoga ...|         Kevin Smith|Lily-Rose Depp, H...|                2016|               88|   4.3|  7091|              null|     23.0|
| 206|      X: First Class|Action,Adventure,...|In 1962, the Unit...|      Matthew Vaughn|James McAvoy, Mic...|                2011|              132|   7.8|550011|            146.41|     65.0|
| 627|X-Men: The Last S...|Action,Adventure,...|When a cure is fo...|        Brett Ratner|Patrick Stewart, ...|                2006|              104|   6.7|406540|            234.36|     58.0|
| 163|X-Men: Days of Fu...|Action,Adventure,...|The X-Men send Wo...|        Bryan Singer|Patrick Stewart, ...|                2014|              132|     8|552298|            233.91|     74.0|
|  33|   X-Men: Apocalypse|Action,Adventure,...|After the re-emer...|        Bryan Singer|James McAvoy, Mic...|                2016|              144|   7.1|275510|            155.33|     52.0|
| 269|X-Men Origins: Wo...|Action,Adventure,...|A look at Wolveri...|          Gavin Hood|Hugh Jackman, Lie...|                2009|              107|   6.7|388447|            179.88|     40.0|
| 969|             Wrecker|Action,Horror,Thr...|"Best friends Emi...|"" they become th...|      Micheal Bafaro|Anna Hutchison, A...|             2015|    83|   3.5|            1210.0|     null|
| 564|      Wreck-It Ralph|Animation,Adventu...|A video game vill...|          Rich Moore|John C. Reilly, J...|                2012|              101|   7.8|290559|            189.41|     72.0|
| 880| Wrath of the Titans|Action,Adventure,...|Perseus braves th...|  Jonathan Liebesman|Sam Worthington, ...|                2012|               99|   5.8|159230|             83.64|     37.0|
| 433|         World War Z|Action,Adventure,...|Former United Nat...|        Marc Forster|Brad Pitt, Mireil...|                2013|              116|     7|494819|            202.35|     63.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [18]:
df.groupBy(col('Year')).count().show(truncate=False)

+-----------------------------------------------------------------------------+-----+
|Year                                                                         |count|
+-----------------------------------------------------------------------------+-----+
|2016                                                                         |292  |
|2012                                                                         |64   |
|2014                                                                         |96   |
|Dane DeHaan, Jason Isaacs, Mia Goth, Ivo Nandi                               |1    |
|2013                                                                         |91   |
|Alessandro Carloni                                                           |1    |
|2009                                                                         |51   |
|2006                                                                         |43   |
|Srdjan 'Zika' Todorovic, Sergej Trifunovic,Jelena Gavrilovic, Slobodan Bestic|1    |
|Evan Goldberg                                                                |1    |
|2011                                                                         |63   |
|2008                                                                         |52   |
|Jake Johnson, Damon Wayans Jr., Rob Riggle, Nina Dobrev                      |1    |
| together with Scott Fischer                                                 |1    |
|2007                                                                         |53   |
|Essie Davis, Andrea Riseborough, Julian Barratt,Kenneth Branagh              |1    |
|Anna Hutchison, Andrea Whitburn, Jennifer Koenig,Michael Dickson             |1    |
|Jason Biggs, Janet Montgomery,Ashley Tisdale, Bria L. Murphy                 |1    |
|Anna Kendrick, Sam Rockwell, Tim Roth, James Ransone                         |1    |
|2015                                                                         |124  |
+-----------------------------------------------------------------------------+-----+
only showing top 20 rows

In [19]:
df.select(col('Title'),col('Year')).show()

+--------------------+--------------------+
|               Title|                Year|
+--------------------+--------------------+
|Guardians of the ...|                2014|
|          Prometheus|                2012|
|               Split|                2016|
|                Sing|                2016|
|       Suicide Squad|                2016|
|      The Great Wall|                2016|
|          La La Land|                2016|
|            Mindhorn|Essie Davis, Andr...|
|  The Lost City of Z|                2016|
|          Passengers|                2016|
|Fantastic Beasts ...|                2016|
|      Hidden Figures|                2016|
|           Rogue One|                2016|
|               Moana|                2016|
|            Colossal|                2016|
|The Secret Life o...|                2016|
|       Hacksaw Ridge|                2016|
|        Jason Bourne|                2016|
|                Lion|                2016|
|             Arrival|                2016|
+--------------------+--------------------+
only showing top 20 rows

In [20]:
from pyspark.sql.functions import lit

In [21]:
from datetime import datetime

df = df.withColumn('update',lit(datetime.now()))

In [22]:
df.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|              update|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|2023-09-22 07:59:...|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|2023-09-22 07:59:...|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|2023-09-22 07:59:...|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|2023-09-22 07:59:...|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|2023-09-22 07:59:...|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|2023-09-22 07:59:...|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|2023-09-22 07:59:...|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     null|2023-09-22 07:59:...|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|2023-09-22 07:59:...|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|2023-09-22 07:59:...|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|2023-09-22 07:59:...|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|2023-09-22 07:59:...|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|2023-09-22 07:59:...|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|2023-09-22 07:59:...|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|2023-09-22 07:59:...|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|2023-09-22 07:59:...|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|2023-09-22 07:59:...|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|2023-09-22 07:59:...|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|2023-09-22 07:59:...|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|2023-09-22 07:59:...|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
only showing top 20 rows

In [23]:
df.selectExpr('cast(update as date) as date','Title','Year').show()

+----------+--------------------+--------------------+
|      date|               Title|                Year|
+----------+--------------------+--------------------+
|2023-09-22|Guardians of the ...|                2014|
|2023-09-22|          Prometheus|                2012|
|2023-09-22|               Split|                2016|
|2023-09-22|                Sing|                2016|
|2023-09-22|       Suicide Squad|                2016|
|2023-09-22|      The Great Wall|                2016|
|2023-09-22|          La La Land|                2016|
|2023-09-22|            Mindhorn|Essie Davis, Andr...|
|2023-09-22|  The Lost City of Z|                2016|
|2023-09-22|          Passengers|                2016|
|2023-09-22|Fantastic Beasts ...|                2016|
|2023-09-22|      Hidden Figures|                2016|
|2023-09-22|           Rogue One|                2016|
|2023-09-22|               Moana|                2016|
|2023-09-22|            Colossal|                2016|
|2023-09-22|The Secret Life o...|                2016|
|2023-09-22|       Hacksaw Ridge|                2016|
|2023-09-22|        Jason Bourne|                2016|
|2023-09-22|                Lion|                2016|
|2023-09-22|             Arrival|                2016|
+----------+--------------------+--------------------+
only showing top 20 rows

In [24]:
df.select(col('Title').alias('movie')).show()

+--------------------+
|               movie|
+--------------------+
|Guardians of the ...|
|          Prometheus|
|               Split|
|                Sing|
|       Suicide Squad|
|      The Great Wall|
|          La La Land|
|            Mindhorn|
|  The Lost City of Z|
|          Passengers|
|Fantastic Beasts ...|
|      Hidden Figures|
|           Rogue One|
|               Moana|
|            Colossal|
|The Secret Life o...|
|       Hacksaw Ridge|
|        Jason Bourne|
|                Lion|
|             Arrival|
+--------------------+
only showing top 20 rows

In [25]:
df.withColumn('movie',col('Title')).columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update',
 'movie']

In [26]:
df.select(col('update').cast('date')).show()

+----------+
|    update|
+----------+
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
|2023-09-22|
+----------+
only showing top 20 rows

In [27]:
df.select(col('Year')).dropDuplicates().show()

+--------------------+
|                Year|
+--------------------+
|                2016|
|                2012|
|                2014|
|Dane DeHaan, Jaso...|
|                2013|
|  Alessandro Carloni|
|                2009|
|                2006|
|Srdjan 'Zika' Tod...|
|       Evan Goldberg|
|                2011|
|                2008|
|Jake Johnson, Dam...|
| together with Sc...|
|                2007|
|Essie Davis, Andr...|
|Anna Hutchison, A...|
|Jason Biggs, Jane...|
|Anna Kendrick, Sa...|
|                2015|
+--------------------+
only showing top 20 rows

In [28]:
df.select(col('Year')).distinct().show()

+--------------------+
|                Year|
+--------------------+
|                2016|
|                2012|
|                2014|
|Dane DeHaan, Jaso...|
|                2013|
|  Alessandro Carloni|
|                2009|
|                2006|
|Srdjan 'Zika' Tod...|
|       Evan Goldberg|
|                2011|
|                2008|
|Jake Johnson, Dam...|
| together with Sc...|
|                2007|
|Essie Davis, Andr...|
|Anna Hutchison, A...|
|Jason Biggs, Jane...|
|Anna Kendrick, Sa...|
|                2015|
+--------------------+
only showing top 20 rows

In [29]:
df.select(col('Year')).dropDuplicates().count()

23

In [30]:
df.select(col('Year')).distinct().count()

23

In [31]:
df.groupBy(col("Year")).count().show()

+--------------------+-----+
|                Year|count|
+--------------------+-----+
|                2016|  292|
|                2012|   64|
|                2014|   96|
|Dane DeHaan, Jaso...|    1|
|                2013|   91|
|  Alessandro Carloni|    1|
|                2009|   51|
|                2006|   43|
|Srdjan 'Zika' Tod...|    1|
|       Evan Goldberg|    1|
|                2011|   63|
|                2008|   52|
|Jake Johnson, Dam...|    1|
| together with Sc...|    1|
|                2007|   53|
|Essie Davis, Andr...|    1|
|Anna Hutchison, A...|    1|
|Jason Biggs, Jane...|    1|
|Anna Kendrick, Sa...|    1|
|                2015|  124|
+--------------------+-----+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import count,min,max

df.groupBy("Year").agg(count('*').alias("Movie count"),
                      min("Rank").alias("Minimum rank"),
                      max('Rank').alias("Maximum rank")).show()

+--------------------+-----------+------------+------------+
|                Year|Movie count|Minimum rank|Maximum rank|
+--------------------+-----------+------------+------------+
|                2016|        292|           3|        1000|
|                2012|         64|           2|         995|
|                2014|         96|           1|         999|
|Dane DeHaan, Jaso...|          1|         202|         202|
|                2013|         91|          83|         971|
|  Alessandro Carloni|          1|         604|         604|
|                2009|         51|          78|         991|
|                2006|         43|          65|         966|
|Srdjan 'Zika' Tod...|          1|         429|         429|
|       Evan Goldberg|          1|         632|         632|
|                2011|         63|          46|         993|
|                2008|         52|          55|         998|
|Jake Johnson, Dam...|          1|         984|         984|
| together with Sc...|          1|         386|         386|
|                2007|         53|          40|         997|
|Essie Davis, Andr...|          1|           8|           8|
|Anna Hutchison, A...|          1|         969|         969|
|Jason Biggs, Jane...|          1|         978|         978|
|Anna Kendrick, Sa...|          1|         619|         619|
|                2015|        124|          27|         996|
+--------------------+-----------+------------+------------+
only showing top 20 rows

In [33]:
df.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|              update|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|2023-09-22 07:59:...|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|2023-09-22 07:59:...|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|2023-09-22 07:59:...|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|2023-09-22 07:59:...|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|2023-09-22 07:59:...|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|2023-09-22 07:59:...|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|2023-09-22 07:59:...|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     null|2023-09-22 07:59:...|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|2023-09-22 07:59:...|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|2023-09-22 07:59:...|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|2023-09-22 07:59:...|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|2023-09-22 07:59:...|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|2023-09-22 07:59:...|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|2023-09-22 07:59:...|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|2023-09-22 07:59:...|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|2023-09-22 07:59:...|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|2023-09-22 07:59:...|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|2023-09-22 07:59:...|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|2023-09-22 07:59:...|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|2023-09-22 07:59:...|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+--------------------+
only showing top 20 rows

In [34]:
df.columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update']

In [35]:
df.drop(col('Rank'),col('Title'),col('Director')).columns

['Genre',
 'Description',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update']

In [36]:
df.columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update']

In [37]:
#when and otherwise statement in the pyspark

from pyspark.sql.functions import when
df.select(col("Title"),col('Rating'),when(col('Rating')<=5.0,'Avarage').when(col('Rating')<=8.0,'Good').\
          otherwise('Best').alias("Rate")).show()

+--------------------+------+----+
|               Title|Rating|Rate|
+--------------------+------+----+
|Guardians of the ...|   8.1|Best|
|          Prometheus|     7|Good|
|               Split|   7.3|Good|
|                Sing|   7.2|Good|
|       Suicide Squad|   6.2|Good|
|      The Great Wall|   6.1|Good|
|          La La Land|   8.3|Best|
|            Mindhorn|    89|Best|
|  The Lost City of Z|   7.1|Good|
|          Passengers|     7|Good|
|Fantastic Beasts ...|   7.5|Good|
|      Hidden Figures|   7.8|Good|
|           Rogue One|   7.9|Good|
|               Moana|   7.7|Good|
|            Colossal|   6.4|Good|
|The Secret Life o...|   6.6|Good|
|       Hacksaw Ridge|   8.2|Best|
|        Jason Bourne|   6.7|Good|
|                Lion|   8.1|Best|
|             Arrival|     8|Good|
+--------------------+------+----+
only showing top 20 rows

In [38]:
#when and otherwise statement in the pyspark

from pyspark.sql.functions import when
df.select(col("Title"),col('Rating'),when((col('Rating')<5.0) | (col('Rating')<8.0),'Avarage').\
          otherwise('Best').alias("Rate")).show()

+--------------------+------+-------+
|               Title|Rating|   Rate|
+--------------------+------+-------+
|Guardians of the ...|   8.1|   Best|
|          Prometheus|     7|Avarage|
|               Split|   7.3|Avarage|
|                Sing|   7.2|Avarage|
|       Suicide Squad|   6.2|Avarage|
|      The Great Wall|   6.1|Avarage|
|          La La Land|   8.3|   Best|
|            Mindhorn|    89|   Best|
|  The Lost City of Z|   7.1|Avarage|
|          Passengers|     7|Avarage|
|Fantastic Beasts ...|   7.5|Avarage|
|      Hidden Figures|   7.8|Avarage|
|           Rogue One|   7.9|Avarage|
|               Moana|   7.7|Avarage|
|            Colossal|   6.4|Avarage|
|The Secret Life o...|   6.6|Avarage|
|       Hacksaw Ridge|   8.2|   Best|
|        Jason Bourne|   6.7|Avarage|
|                Lion|   8.1|   Best|
|             Arrival|     8|   Best|
+--------------------+------+-------+
only showing top 20 rows

In [39]:
df.columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update']

In [40]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import concat

df.select((concat(col('Rank').cast(StringType()),lit('_shell'))).alias('New_col')).show()

+--------+
| New_col|
+--------+
| 1_shell|
| 2_shell|
| 3_shell|
| 4_shell|
| 5_shell|
| 6_shell|
| 7_shell|
| 8_shell|
| 9_shell|
|10_shell|
|11_shell|
|12_shell|
|13_shell|
|14_shell|
|15_shell|
|16_shell|
|17_shell|
|18_shell|
|19_shell|
|20_shell|
+--------+
only showing top 20 rows

In [48]:
def concat_shell(column):
    return str(column)+"_shell"

In [49]:
df.columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore',
 'update']

In [50]:
from pyspark.sql.functions import udf
my_udf = udf(concat_shell,StringType())

In [52]:
df.select(my_udf(col('Rank')).alias('newcol')).show()

+--------+
|  newcol|
+--------+
| 1_shell|
| 2_shell|
| 3_shell|
| 4_shell|
| 5_shell|
| 6_shell|
| 7_shell|
| 8_shell|
| 9_shell|
|10_shell|
|11_shell|
|12_shell|
|13_shell|
|14_shell|
|15_shell|
|16_shell|
|17_shell|
|18_shell|
|19_shell|
|20_shell|
+--------+
only showing top 20 rows

In [55]:
@udf(returnType=StringType())
def concat_shell(column):
    return str(column)+"__shell__"

In [56]:
df.select(concat_shell(col('Rank')).alias("col")).show()

+-----------+
|        col|
+-----------+
| 1__shell__|
| 2__shell__|
| 3__shell__|
| 4__shell__|
| 5__shell__|
| 6__shell__|
| 7__shell__|
| 8__shell__|
| 9__shell__|
|10__shell__|
|11__shell__|
|12__shell__|
|13__shell__|
|14__shell__|
|15__shell__|
|16__shell__|
|17__shell__|
|18__shell__|
|19__shell__|
|20__shell__|
+-----------+
only showing top 20 rows

In [58]:
n = df.cache()

In [59]:
n.show(4)

+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+--------------------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|              update|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+--------------------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|2023-09-22 07:59:...|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|2023-09-22 07:59:...|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|2016|              117|   7.3|157606|            138.12|     62.0|2023-09-22 07:59:...|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|2016|              108|   7.2| 60545|            270.32|     59.0|2023-09-22 07:59:...|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+--------------------+
only showing top 4 rows

In [71]:
customerdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/customer.csv',inferSchema=True,header=True)
lineitemdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/lineitem.csv',inferSchema=True,header=True)
ordersdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/orders.csv',inferSchema=True,header=True)
nationdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/nation.csv',inferSchema=True,header=True)
partdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/part.csv',inferSchema=True,header=True)
partsuppdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/partsupp.csv',inferSchema=True,header=True)
supplierdf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/supplier.csv',inferSchema=True,header=True)
regiondf = spark.read.option("delimiter","\t").csv('/home/labuser/Documents/Python/Retail_Dataset/region.csv',inferSchema=True,header=True)

In [73]:
customerdf.show(4)

+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|C_CUSTKEY|            C_NAME|           C_ADDRESS|C_NATIONKEY|        C_PHONE|C_ACCTBAL|C_MKTSEGMENT|           C_COMMENT|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|        1|Customer#000000001|   IVhzIApeRb ot,c,E|         15|25-989-741-2988|   711.56|    BUILDING|to the even, regu...|
|        2|Customer#000000002|XSTf4,NCwDVaWNe6t...|         13|23-768-687-3665|   121.65|  AUTOMOBILE|l accounts. blith...|
|        3|Customer#000000003|        MG9kdTD2WBHm|          1|11-719-748-3364|  7498.12|  AUTOMOBILE| deposits eat sly...|
|        4|Customer#000000004|         XxVSJsLAGtn|          4|14-128-190-5944|  2866.83|   MACHINERY| requests. final,...|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
only showing top 4 rows

In [75]:
customerdf.printSchema()
lineitemdf.printSchema()
nationdf.printSchema()
ordersdf.printSchema()
partdf.printSchema()
partsuppdf.printSchema()
regiondf.printSchema()
supplierdf.printSchema()

root
 |-- C_CUSTKEY: integer (nullable = true)
 |-- C_NAME: string (nullable = true)
 |-- C_ADDRESS: string (nullable = true)
 |-- C_NATIONKEY: integer (nullable = true)
 |-- C_PHONE: string (nullable = true)
 |-- C_ACCTBAL: double (nullable = true)
 |-- C_MKTSEGMENT: string (nullable = true)
 |-- C_COMMENT: string (nullable = true)

root
 |-- L_ORDERKEY: integer (nullable = true)
 |-- L_PARTKEY: integer (nullable = true)
 |-- L_SUPPKEY: integer (nullable = true)
 |-- L_LINENUMBER: integer (nullable = true)
 |-- L_QUANTITY: double (nullable = true)
 |-- L_EXTENDEDPRICE: double (nullable = true)
 |-- L_DISCOUNT: double (nullable = true)
 |-- L_TAX: double (nullable = true)
 |-- L_RETURNFLAG: string (nullable = true)
 |-- L_LINESTATUS: string (nullable = true)
 |-- L_SHIPDATE: date (nullable = true)
 |-- L_COMMITDATE: date (nullable = true)
 |-- L_RECEIPTDATE: date (nullable = true)
 |-- L_SHIPINSTRUCT: string (nullable = true)
 |-- L_SHIPMODE: string (nullable = true)
 |-- L_COMMENT: string (nullable = true)

root
 |-- N_NATIONKEY: integer (nullable = true)
 |-- N_NAME: string (nullable = true)
 |-- N_REGIONKEY: integer (nullable = true)
 |-- N_COMMENT: string (nullable = true)

root
 |-- O_ORDERKEY: integer (nullable = true)
 |-- O_CUSTKEY: integer (nullable = true)
 |-- O_ORDERSTATUS: string (nullable = true)
 |-- O_TOTALPRICE: double (nullable = true)
 |-- O_ORDERDATE: date (nullable = true)
 |-- O_ORDERPRIORITY: string (nullable = true)
 |-- O_CLERK: string (nullable = true)
 |-- O_SHIPPRIORITY: integer (nullable = true)
 |-- O_COMMENT: string (nullable = true)

root
 |-- P_PARTKEY: integer (nullable = true)
 |-- P_NAME: string (nullable = true)
 |-- P_MFGR: string (nullable = true)
 |-- P_BRAND: string (nullable = true)
 |-- P_TYPE: string (nullable = true)
 |-- P_SIZE: integer (nullable = true)
 |-- P_CONTAINER: string (nullable = true)
 |-- P_RETAILPRICE: double (nullable = true)
 |-- P_COMMENT: string (nullable = true)

root
 |-- PS_PARTKEY: integer (nullable = true)
 |-- PS_SUPPKEY: integer (nullable = true)
 |-- PS_AVAILQTY: integer (nullable = true)
 |-- PS_SUPPLYCOST: double (nullable = true)
 |-- PS_COMMENT: string (nullable = true)

root
 |-- R_REGIONKEY: integer (nullable = true)
 |-- R_NAME: string (nullable = true)
 |-- R_COMMENT: string (nullable = true)

root
 |-- S_SUPPKEY: integer (nullable = true)
 |-- S_NAME: string (nullable = true)
 |-- S_ADDRESS: string (nullable = true)
 |-- S_NATIONKEY: integer (nullable = true)
 |-- S_PHONE: string (nullable = true)
 |-- S_ACCTBAL: double (nullable = true)
 |-- S_COMMENT: string (nullable = true)

In [76]:
customerdf.join(ordersdf,customerdf.C_CUSTKEY==ordersdf.O_CUSTKEY,'inner').show()

+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
|C_CUSTKEY|            C_NAME|           C_ADDRESS|C_NATIONKEY|        C_PHONE|C_ACCTBAL|C_MKTSEGMENT|           C_COMMENT|O_ORDERKEY|O_CUSTKEY|O_ORDERSTATUS|O_TOTALPRICE|O_ORDERDATE|O_ORDERPRIORITY|        O_CLERK|O_SHIPPRIORITY|           O_COMMENT|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
|      370|Customer#000000370|          oyAPndV IN|         12|22-524-280-8721|  8982.79|   FURNITURE|ges. final packag...|         1|      370|            O|   172799.49| 1996-01-02|          5-LOW|Clerk#000000951|             0|nstructions sleep...|
|      781|Customer#000000781|FQCAkyfV0 kL3,FNA...|         18|28-478-388-5881|  6403.62|   MACHINERY|ake blithely blit...|         2|      781|            O|    38426.09| 1996-12-01|       1-URGENT|Clerk#000000880|             0| foxes. pending a...|
|     1234|Customer#000001234|B3OhbH0MRJE,F0Lc7...|          1|11-742-434-6436|  -982.32|   FURNITURE|y ironic instruct...|         3|     1234|            F|    205654.3| 1993-10-14|          5-LOW|Clerk#000000955|             0|sly final account...|
|     1369|Customer#000001369|rXTwOzU0a2ak4Nj5L...|         10|20-232-617-7418|   498.77|  AUTOMOBILE|ong the ironic id...|         4|     1369|            O|    56000.91| 1995-10-11|          5-LOW|Clerk#000000124|             0|sits. slyly regul...|
|      445|Customer#000000445|MX1UA0KUJzIGyWM p...|         20|30-849-846-6070|  8018.81|   FURNITURE|e ironic, special...|         5|      445|            F|   105367.67| 1994-07-30|          5-LOW|Clerk#000000925|             0|quickly. bold dep...|
|      557|Customer#000000557|          Nt6FUuDR7v|         15|25-390-153-6699|  9559.04|    BUILDING|furiously pending...|         6|      557|            F|     45523.1| 1992-02-21|4-NOT SPECIFIED|Clerk#000000058|             0|ggle. special, fi...|
|      392|Customer#000000392|          H7M6JObndO|         17|27-601-793-2507|  8492.33|    BUILDING|efully bold ideas...|         7|      392|            O|   271885.66| 1996-01-10|         2-HIGH|Clerk#000000470|             0|ly special requests |
|     1301|Customer#000001301|oR0kHfL6GWhF VPD,...|         10|20-339-347-9046|  8966.63|   MACHINERY|egular asymptotes...|        32|     1301|            O|   198665.57| 1995-07-16|         2-HIGH|Clerk#000000616|             0|ise blithely bold...|
|      670|Customer#000000670|         RJtcLv6Tjpx|          2|12-839-426-4266|  6738.93|    BUILDING|y unusual deposit...|        33|      670|            F|   146567.24| 1993-10-27|       3-MEDIUM|Clerk#000000409|             0|uriously. furious...|
|      611|Customer#000000611|E1dtWGHE7NrLfnSKLPFU|         19|29-924-242-5243|  4272.43|   HOUSEHOLD|inst the slyly fi...|        34|      611|            O|    73315.48| 1998-07-21|       3-MEDIUM|Clerk#000000223|             0|ly final packages...|
|     1276|Customer#000001276|c5UAVe71MPvmerPaf...|         16|26-809-582-2064|   -761.7|  AUTOMOBILE| the blithely reg...|        35|     1276|            O|   194641.93| 1995-10-23|4-NOT SPECIFIED|Clerk#000000259|             0|zzle. carefully e...|
|     1153|Customer#000001153|SYG3KMj1fMh7GwvIZ...|          3|13-319-420-5160|  6244.03|   HOUSEHOLD|s. even packages ...|        36|     1153|            O|    42011.04| 1995-11-03|       1-URGENT|Clerk#000000358|             0| quick packages a...|
|      862|Customer#000000862|zkaZ,iOp8t9MBK9T,...|          2|12-479-479-6941|  2338.92|   MACHINERY|yly regular foxes...|        37|      862|            F|   131896.49| 1992-06-03|       3-MEDIUM|Clerk#000000456|             0|kly regular pinto...|
|     1249|Customer#000001249|x9ukZnNiUM5pBPXyE...|          7|17-866-269-1165|   448.49|    BUILDING| the ironic packa...|        38|     1249|            O|    71553.08| 1996-08-21|4-NOT SPECIFIED|Clerk#000000604|             0|haggle blithely. ...|
|      818|Customer#000000818|CvQvKClYoh9lPjMng...|         20|30-943-141-5174|  -574.39|    BUILDING|yly. blithely fin...|        39|      818|            O|   326565.37| 1996-09-20|       3-MEDIUM|Clerk#000000659|             0|ole express, iron...|
|      322|Customer#000000322|       bWRyCyjH5OfGX|         20|30-660-202-7517|  4489.98|   HOUSEHOLD|usual sauternes a...|        64|      322|            F|    35831.73| 1994-07-16|       3-MEDIUM|Clerk#000000661|             0|wake fluffily. so...|
|      163|Customer#000000163|      OgrGcOnm4whd0f|         21|31-863-349-4121|  2948.61|   FURNITURE| nag furiously fu...|        65|      163|            P|    95469.44| 1995-03-18|       1-URGENT|Clerk#000000632|             0|ular requests are...|
|     1292|Customer#000001292|QVr2XTDOMzWcLKHtN...|         21|31-966-407-1575|  5509.11|    BUILDING|haggle. special f...|        66|     1292|            F|   104190.66| 1994-01-20|          5-LOW|Clerk#000000743|             0|y pending request...|
|      568|Customer#000000568|ZddVCnzeABTTBgV3G...|         13|23-603-795-8611|  1317.56|    BUILDING|gular decoys hagg...|        67|      568|            O|   182481.16| 1996-12-19|4-NOT SPECIFIED|Clerk#000000547|             0|symptotes haggle ...|
|      286|Customer#000000286|    7 7uVDrpkWuozyEd|         22|32-274-308-4633|  -109.73|   HOUSEHOLD|ly special accoun...|        68|      286|            O|   301968.79| 1998-04-18|       3-MEDIUM|Clerk#000000440|             0| pinto beans slee...|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
only showing top 20 rows

In [77]:
customerdf.printSchema()

root
 |-- C_CUSTKEY: integer (nullable = true)
 |-- C_NAME: string (nullable = true)
 |-- C_ADDRESS: string (nullable = true)
 |-- C_NATIONKEY: integer (nullable = true)
 |-- C_PHONE: string (nullable = true)
 |-- C_ACCTBAL: double (nullable = true)
 |-- C_MKTSEGMENT: string (nullable = true)
 |-- C_COMMENT: string (nullable = true)

In [78]:
ordersdf.printSchema()

root
 |-- O_ORDERKEY: integer (nullable = true)
 |-- O_CUSTKEY: integer (nullable = true)
 |-- O_ORDERSTATUS: string (nullable = true)
 |-- O_TOTALPRICE: double (nullable = true)
 |-- O_ORDERDATE: date (nullable = true)
 |-- O_ORDERPRIORITY: string (nullable = true)
 |-- O_CLERK: string (nullable = true)
 |-- O_SHIPPRIORITY: integer (nullable = true)
 |-- O_COMMENT: string (nullable = true)

In [79]:
lineitemdf.printSchema()

root
 |-- L_ORDERKEY: integer (nullable = true)
 |-- L_PARTKEY: integer (nullable = true)
 |-- L_SUPPKEY: integer (nullable = true)
 |-- L_LINENUMBER: integer (nullable = true)
 |-- L_QUANTITY: double (nullable = true)
 |-- L_EXTENDEDPRICE: double (nullable = true)
 |-- L_DISCOUNT: double (nullable = true)
 |-- L_TAX: double (nullable = true)
 |-- L_RETURNFLAG: string (nullable = true)
 |-- L_LINESTATUS: string (nullable = true)
 |-- L_SHIPDATE: date (nullable = true)
 |-- L_COMMITDATE: date (nullable = true)
 |-- L_RECEIPTDATE: date (nullable = true)
 |-- L_SHIPINSTRUCT: string (nullable = true)
 |-- L_SHIPMODE: string (nullable = true)
 |-- L_COMMENT: string (nullable = true)

In [82]:
cust_order_df = customerdf.join(ordersdf,customerdf.C_CUSTKEY==ordersdf.O_CUSTKEY,'inner')

In [103]:
cust_price_df = cust_order_df.groupBy(col('C_CUSTKEY')).sum('O_TOTALPRICE').withColumnRenamed('sum(O_TOTALPRICE)','Amount_spent').withColumnRenamed('C_CUSTKEY','CC')

In [140]:
from pyspark.sql.functions import format_number
top_spent_customers = customerdf.join(cust_price_df,customerdf.C_CUSTKEY==cust_price_df.CC,'inner').select(col('CC'),col('C_NAME'),format_number(col('Amount_spent'),2)).orderBy(col('Amount_spent').desc()).limit(10)

In [106]:
cust_price_df.columns

['CC', 'Amount_spent']

In [114]:
ordersdf.printSchema()

root
 |-- O_ORDERKEY: integer (nullable = true)
 |-- O_CUSTKEY: integer (nullable = true)
 |-- O_ORDERSTATUS: string (nullable = true)
 |-- O_TOTALPRICE: double (nullable = true)
 |-- O_ORDERDATE: date (nullable = true)
 |-- O_ORDERPRIORITY: string (nullable = true)
 |-- O_CLERK: string (nullable = true)
 |-- O_SHIPPRIORITY: integer (nullable = true)
 |-- O_COMMENT: string (nullable = true)

In [115]:
lineitemdf.printSchema()

root
 |-- L_ORDERKEY: integer (nullable = true)
 |-- L_PARTKEY: integer (nullable = true)
 |-- L_SUPPKEY: integer (nullable = true)
 |-- L_LINENUMBER: integer (nullable = true)
 |-- L_QUANTITY: double (nullable = true)
 |-- L_EXTENDEDPRICE: double (nullable = true)
 |-- L_DISCOUNT: double (nullable = true)
 |-- L_TAX: double (nullable = true)
 |-- L_RETURNFLAG: string (nullable = true)
 |-- L_LINESTATUS: string (nullable = true)
 |-- L_SHIPDATE: date (nullable = true)
 |-- L_COMMITDATE: date (nullable = true)
 |-- L_RECEIPTDATE: date (nullable = true)
 |-- L_SHIPINSTRUCT: string (nullable = true)
 |-- L_SHIPMODE: string (nullable = true)
 |-- L_COMMENT: string (nullable = true)

In [116]:
partdf.printSchema()

root
 |-- P_PARTKEY: integer (nullable = true)
 |-- P_NAME: string (nullable = true)
 |-- P_MFGR: string (nullable = true)
 |-- P_BRAND: string (nullable = true)
 |-- P_TYPE: string (nullable = true)
 |-- P_SIZE: integer (nullable = true)
 |-- P_CONTAINER: string (nullable = true)
 |-- P_RETAILPRICE: double (nullable = true)
 |-- P_COMMENT: string (nullable = true)

In [139]:
high_sale_product = lineitemdf.join(partdf,lineitemdf.L_PARTKEY==partdf.P_PARTKEY,'inner').select(col('L_PARTKEY'),col('P_NAME')).groupBy(col('P_NAME')).count().orderBy(col('count').desc()).limit(10)

In [138]:
low_sale_products = lineitemdf.join(partdf,lineitemdf.L_PARTKEY==partdf.P_PARTKEY,'inner').select(col('L_PARTKEY'),col('P_NAME')).groupBy(col('P_NAME')).count().orderBy(col('count')).limit(10)

In [126]:
cust_order_df.printSchema()

root
 |-- C_CUSTKEY: integer (nullable = true)
 |-- C_NAME: string (nullable = true)
 |-- C_ADDRESS: string (nullable = true)
 |-- C_NATIONKEY: integer (nullable = true)
 |-- C_PHONE: string (nullable = true)
 |-- C_ACCTBAL: double (nullable = true)
 |-- C_MKTSEGMENT: string (nullable = true)
 |-- C_COMMENT: string (nullable = true)
 |-- O_ORDERKEY: integer (nullable = true)
 |-- O_CUSTKEY: integer (nullable = true)
 |-- O_ORDERSTATUS: string (nullable = true)
 |-- O_TOTALPRICE: double (nullable = true)
 |-- O_ORDERDATE: date (nullable = true)
 |-- O_ORDERPRIORITY: string (nullable = true)
 |-- O_CLERK: string (nullable = true)
 |-- O_SHIPPRIORITY: integer (nullable = true)
 |-- O_COMMENT: string (nullable = true)

In [137]:
low_sale_country = cust_order_df.join(nationdf,cust_order_df.C_NATIONKEY==nationdf.N_NATIONKEY,'inner').groupBy('N_NAME').sum('O_TOTALPRICE').orderBy(col('sum(O_TOTALPRICE)')).limit(10)

In [127]:
nationdf.printSchema()

root
 |-- N_NATIONKEY: integer (nullable = true)
 |-- N_NAME: string (nullable = true)
 |-- N_REGIONKEY: integer (nullable = true)
 |-- N_COMMENT: string (nullable = true)

In [131]:
cust_order_df.select(col('O_TOTALPRICE')).distinct().orderBy(col('O_TOTALPRICE').desc()).show(100)

+------------+
|O_TOTALPRICE|
+------------+
|   466001.28|
|   439687.23|
|   431771.98|
|   430619.75|
|   422359.65|
|   411255.46|
|   409770.83|
|   408345.74|
|   406938.36|
|   405742.27|
|   405401.76|
|    405235.9|
|   403464.01|
|   402930.49|
|   401055.62|
|   400191.77|
|    397797.8|
|   397549.76|
|   396261.24|
|   395495.85|
|   395039.05|
|   393923.76|
|   392614.07|
|    392172.9|
|   386714.93|
|   386334.55|
|   384265.43|
|   382233.07|
|   381793.12|
|   381170.13|
|   379837.62|
|   379689.83|
|   378166.33|
|   377636.63|
|   376904.18|
|   376309.96|
|    373674.8|
|    372954.4|
|   372934.56|
|   372916.06|
|   372488.09|
|   371804.24|
|   371624.55|
|   370957.42|
|   370518.49|
|   369844.66|
|   369804.91|
|   369658.21|
|    368982.6|
|   368220.47|
|   367176.04|
|   366949.49|
|   366916.27|
|   366528.14|
|   366479.63|
|   366277.63|
|   365518.53|
|   364437.75|
|   362967.77|
|   362398.22|
|   362242.86|
|   362237.85|
|   362117.55|
|   362024.17|
|   361167.24|
|   360459.63|
|   360144.81|
|   360022.89|
|    359769.9|
|   359455.08|
|   359414.77|
|   359406.02|
|   359373.75|
|   359364.87|
|   358882.09|
|    358646.8|
|   358340.33|
|    358175.6|
|   358058.27|
|   357345.46|
|   356912.77|
|    356824.5|
|   356711.63|
|   355597.02|
|    355352.9|
|    354924.9|
|   354885.81|
|   354579.92|
|   354366.71|
|   354036.76|
|   353894.29|
|   353791.62|
|   353727.96|
|   353334.19|
|   353202.95|
|   353083.24|
|   352720.59|
|    351797.6|
|   351587.09|
|   351345.57|
+------------+
only showing top 100 rows

In [141]:
top_spent_customers.show()

+----+------------------+------------------------------+
|  CC|            C_NAME|format_number(Amount_spent, 2)|
+----+------------------+------------------------------+
|1489|Customer#000001489|                  5,408,941.28|
| 214|Customer#000000214|                  4,674,894.73|
|1396|Customer#000001396|                  4,644,936.89|
|1246|Customer#000001246|                  4,642,942.33|
|  73|Customer#000000073|                  4,638,819.21|
| 643|Customer#000000643|                  4,555,789.04|
|1318|Customer#000001318|                  4,520,525.11|
|1150|Customer#000001150|                  4,516,089.38|
| 898|Customer#000000898|                  4,460,059.60|
| 943|Customer#000000943|                  4,432,159.86|
+----+------------------+------------------------------+

In [142]:
low_sale_country.show()

+-------------+-------------------+
|       N_NAME|  sum(O_TOTALPRICE)|
+-------------+-------------------+
|       FRANCE|5.368894176000002E7|
|UNITED STATES|6.514880856000007E7|
|        CHINA|6.516384588999996E7|
|         PERU|6.594954112999999E7|
|       RUSSIA|7.132220541999997E7|
|    ARGENTINA|7.481880294000004E7|
|        INDIA|      7.543803921E7|
|      GERMANY|7.762028428000006E7|
|         IRAQ|8.139912672999999E7|
|       JORDAN|8.285502058000003E7|
+-------------+-------------------+

In [143]:
high_sale_product.show()

+--------------------+-----+
|              P_NAME|count|
+--------------------+-----+
|chocolate cornsil...|   51|
|pale rose navajo ...|   50|
|floral aquamarine...|   49|
|orchid indian pin...|   49|
|magenta sandy tur...|   48|
|dark indian snow ...|   48|
|dim cyan bisque b...|   47|
|firebrick metalli...|   47|
|dodger antique ta...|   46|
|olive lawn coral ...|   46|
+--------------------+-----+

In [144]:
top_spent_customers.show()

+----+------------------+------------------------------+
|  CC|            C_NAME|format_number(Amount_spent, 2)|
+----+------------------+------------------------------+
|1489|Customer#000001489|                  5,408,941.28|
| 214|Customer#000000214|                  4,674,894.73|
|1396|Customer#000001396|                  4,644,936.89|
|1246|Customer#000001246|                  4,642,942.33|
|  73|Customer#000000073|                  4,638,819.21|
| 643|Customer#000000643|                  4,555,789.04|
|1318|Customer#000001318|                  4,520,525.11|
|1150|Customer#000001150|                  4,516,089.38|
| 898|Customer#000000898|                  4,460,059.60|
| 943|Customer#000000943|                  4,432,159.86|
+----+------------------+------------------------------+

In [145]:
low_sale_products.show()

+--------------------+-----+
|              P_NAME|count|
+--------------------+-----+
|ghost rosy beige ...|   11|
|yellow powder nav...|   14|
|dodger navajo nav...|   15|
|green pink froste...|   15|
|seashell navy kha...|   16|
|almond rosy green...|   16|
|sienna pale royal...|   16|
|almond steel maro...|   16|
|olive tomato tan ...|   17|
|drab lavender law...|   17|
+--------------------+-----+

In [146]:
low_sale_products.write.csv('/home/labuser/Documents/result/low_sales_product/')
top_spent_customers.write.csv('/home/labuser/Documents/result/top_spent_customers/')
low_sale_country.write.csv('/home/labuser/Documents/result/low_sale_country/')
high_sale_product.write.csv('/home/labuser/Documents/result/high_sale_product/')